<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="mainpage no_adapt">
        <header>
            <div class="header">
                <span>Home</span>
                <span>About me</span>
                <span>Skills</span>
                <span>Portfolio</span>
                <span>Contacts</span>
            </div>
        </header>
        <main>
                <section class="human">
                    <div class="textname">
                        <ul>
                            <li> <b> Denis </b> </li>
                            <li> <b> Novik </b> </li>
                        </ul>
                    </div>
                    <div class="age">
                        <ul>
                            <li>UX | UI designer</li>
                            <li>24 years old, Minsk</li>
                        </ul>
                    </div>
                    <div class="ru_eng">
                        <span>RU <b>| ENG</b></span>
                    </div>
                </section>
                <section>
                    <div class="kepka">
                        <img src="./public/1.png" width="100%">
                    </div>
                </section>
        </main>
    </div>
    <!-- Adaptive -->
    <div class="mainpage adapt">
        <main style="padding-top: 40px;">
                <section class="human">
                    <div class="flexname_adapt">
                        <span style="font-size: 30px; font-weight: bold">Denis</span>
                        <span style="font-size: 30px; font-weight: bold">Novik</span>
                        <br>
                        <span style="font-size: 15px;">UX | UI designer</span>
                        <span style="font-size: 15px;">24 years old, Minsk</span>
                        <br>
                    </div>
                    <div>
                        <img src="./public/7.png" alt="" style="padding-top: 10px;">
                    </div>
                </section>
                <section>
                    <div class="kepka">
                        <img src="./public/8.png">
                    </div>
                </section>
        </main>
    </div>
    <!-- Adaptive -->
    <div class="no_adapt">
        <div class="about_me">
            <span style="font-size: 34px;"> <b> About me </b> </span>
            <br>
            <span style="font-size: 18px;">Hi, I'm Denis – UX/UI designer from Minsk. I'm interested in design and everything connected with it.</span>
            <br>
            <span class="pop" style="font-size: 18px;">I'm studying at courses "Web and mobile design interfaces" in IT-Academy.</span>
            <br>
            <span style="font-size: 18px;">Ready to implement excellent projects</span>
            <span style="font-size: 18px;">with wonderful people.</span>
        </div>
    </div>
    <div class="adapt">
        <div class="about_me">
            <span style="font-size: 34px;"> <b> About me </b> </span>
            <br>
            <span style="font-size: 18px;">Hi, I'm Denis – UX/UI designer from Minsk.</span>
            <span class="pop" style="font-size: 18px;">I'm interested in design and everything connected with it.</span>
            <br>
            <span class="pop" style="font-size: 18px;">I'm studying at courses "Web and mobile design interfaces" in IT-Academy.</span>
            <br>
            <span style="font-size: 18px;">Ready to implement excellent projects</span>
            <span style="font-size: 18px;">with wonderful people.</span>
        </div>
    </div>
    <div class="skills no_adapt">
        <div class="name_s">
            <div style="padding-top: 91px;" class="name_s1">
                <span style="font-size: 34px;"> <b> Skills </b> </span>
                <br> <br>
                <span style="font-size: 18px;">I work in such programs as</span>
            </div>
        </div>
        <div class="adobe_img1">
            <img src="./public/PS.png" alt="">
            <img src="./public/AI.png" alt="">
            <img src="./public/AE.png" alt="">
            <img src="./public/Figma.png" alt="">
        </div>
    </div>
    <div class="skills adapt">
        <div class="name_s">
            <div style="padding-top: 91px;" class="name_s1">
                <span style="font-size: 34px;"> <b> Skills </b> </span>
                <br> <br>
                <span style="font-size: 18px;">I work in such programs as</span>
            </div>
        </div>
        <div class>
            <div class="adobe_img3">
                <img src="./public/PS.png" alt="">
                <img src="./public/AI.png" alt="" style="padding-top: 100px;">
                <img src="./public/AE.png" alt="" style="padding-top: 100px;">
                <img src="./public/Figma.png" alt="" style="padding-top: 100px; padding-bottom: 100px;">
            </div>
        </div>
    </div>
    <div class="portfolio">
        <div class="flexport">
            <div class="flexname">
                <span> <b> Portfolio </b> </span>
            </div>
            <div class="flexdiv">
                <img src="./public/2.png" alt="" width="100%">
            </div>
            <div class="flexp">
                <a href="#" style="color: #070707;">Online fashion store - Homepage</a>
            </div>
            <div class="flexdiv">
                <img src="./public/3.png" alt="" width="100%">
            </div>
            <div class="flexp">
                <a href="#" style="color: #070707;">Reebok Store - Concept</a>
            </div>
            <div class="flexdiv">
                <img src="./public/4.png" alt="" width="100%">
            </div>
            <div class="flexp">
                <a href="#" style="color: #070707;">Braun Landing Page - Concept</a>
            </div>
        </div>
    </div>
    <div class="no_adapt">
        <div class="flexfooter">
            <span style="font-size: 34px;"> <b> Contacts </b> </span>
            <br>
            <span style="font-size: 18px;">Want to know more or just chat?</span>
            <span>You are welcome!</span>
            <br>
            <img src="./public/5.png" alt="">
            <img src="./public/6.png" alt="" style="padding-top: 90px;">
            <span style="padding-top: 45px; font-size: 14px; color: #828282;">Like me on</span>
            <span style="font-size: 14px; color: #828282; padding-bottom: 100px;">LinkedIn, Instagram, Behance, Dribble</span>
        </div>
    </div>
    <div class="adapt">
        <div class="flexfooter">
            <span style="font-size: 34px;"> <b> Contacts </b> </span>
            <br>
            <span style="font-size: 18px;">Want to know more or just chat?</span>
            <span>You are welcome!</span>
            <br>
            <img src="./public/9.png" alt="">
            <img src="./public/6.png" alt="" style="padding-top: 90px;">
            <span style="padding-top: 45px; font-size: 14px; color: #828282;">Like me on</span>
            <span style="font-size: 14px; color: #828282; padding-bottom: 100px;">LinkedIn, Instagram, Behance, Dribble</span>
        </div>
    </div>
</body>
</html>