<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Zan Restourant</title>
		<link rel="stylesheet" href="./style.css" />
	</head>
	<body>
		<div class="no_adapt">
			<div class="container">
				<div class="title">
					<h1>Zan Restourant</h1>
				</div>
				<div class="cards">
					<div class="salat-card">
						<img class="salat" src="./img/1.jpg" alt="" />
						<div class="description">
							<p>
								Сельдь «Под стопочку» <br />
								100/80/15/15/30 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								яйца – 2 шт.;
								свекла – 400 г;
								картофель – 300 г;
								морковь – 250 г;
								филе слабосоленой сельди – 250 г;
								репчатый лук – 120 г;
								яблочный уксус – 2 ст. л.;
								майонез – 180 г;
								укроп – 2 веточки;
								соль - по вкусу;
								свежемолотый черный перец – по вкусу.
							</p>
						</div>
					</div>

					<div class="salat-card">
						<img class="salat" src="./img/2.jpg" alt="" />
						<div class="description">
							<p>
								Салат «Цезарь» с курицей <br />
								125/65 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								салат ромэн – 160 г;
								курица (филе) – 200 г;
								помидоры черри – 100 г;
								сыр пармезан тертый – 20 г;
								гренки – 2 горсти;
								масло оливковое – 4 ст.л.;
								соль, свежемолотый черный перец по вкусу;
								вино белое сухое.
							</p>
						</div>
					</div>

					<div class="salat-card">
						<img class="salat" src="./img/3.jpg" alt="" />
						<div class="description">
							<p>
								Салат «Цезарь» с креветками <br />
								25/65 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								салат Айсберг – 50 г;
								соус Цезарь – 15 мл;
								сыр пармезан тертый - 20 г;
								креветки – 100 г;
								масло оливковое Extra Virgin – 15 мл;
								лимонный фреш – 5 мл;
								хлеб белый подсушенный – 60 г.
							</p>
						</div>
					</div>

					<div class="salat-card">
						<img class="salat" src="./img/4.jpg" alt="" />
						<div class="description">
							<p>
								Салат с куриной печенью <br />
								200 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								400 г куриной печенки;
								2 крепкие ароматные груши;
								50 г изюма;
								200 г салатного микса;
								сливочное и оливковое масло;
								сок 1 апельсина;
								1 ч. л. семян зиры;
								1 ч. л. сахара;
								соль, свежемолотый черный перец.
							</p>
						</div>
					</div>

					<div class="salat-card">
						<img class="salat" src="./img/5.jpg" alt="" />
						<div class="description">
							<p>
								Баклажаны в кисло-сладком соусе <br />
								150 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								2 баклажана;
								1 луковица;
								4 ст. л. оливкового масла;
								100 г оливок;
								4 помидора;
								3 ст. л. винного уксуса;
								1 ст. л. сахара.
							</p>
						</div>
					</div>

					<div class="salat-card">
						<img class="salat" src="./img/6.jpg" alt="" />
						<div class="description">
							<p>
								Ассорти сыров <br />
								200 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								1 круглая буханка хлеба;
								150 г плавленого сыра Hochland «Ассорти»;
								100 г жареного красного перца;
								100 г ветчины;
								100 г салата айсберг;
								100 г слайсов салями;
								1 небольшой огурец;
								50 г вяленых томатов;
								3–4 веточки базилика;
								4 ст. л. майонеза;
								2 ст. л. песто.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="adapt">
			<div class="container">
				<div class="title">
					<h1>Zan Restourant</h1>
				</div>
				<div class="cards">
					<div class="salat-card">
						<img class="salat" src="./img/1.jpg" alt="" />
						<div class="description">
							<p>
								Сельдь «Под стопочку» <br />
								100/80/15/15/30 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								яйца – 2 шт.;
								свекла – 400 г;
								картофель – 300 г;
								морковь – 250 г;
								филе слабосоленой сельди – 250 г;
								репчатый лук – 120 г;
								яблочный уксус – 2 ст. л.;
								майонез – 180 г;
								укроп – 2 веточки;
								соль - по вкусу;
								свежемолотый черный перец – по вкусу.
							</p>
						</div>
					</div>

					<div class="salat-card">
						<img class="salat" src="./img/2.jpg" alt="" />
						<div class="description">
							<p>
								Салат «Цезарь» с курицей <br />
								125/65 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								салат ромэн – 160 г;
								курица (филе) – 200 г;
								помидоры черри – 100 г;
								сыр пармезан тертый – 20 г;
								гренки – 2 горсти;
								масло оливковое – 4 ст.л.;
								соль, свежемолотый черный перец по вкусу;
								вино белое сухое.
							</p>
						</div>
					</div>

					<div class="salat-card">
						<img class="salat" src="./img/3.jpg" alt="" />
						<div class="description">
							<p>
								Салат «Цезарь» с креветками <br />
								25/65 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								салат Айсберг – 50 г;
								соус Цезарь – 15 мл;
								сыр пармезан тертый - 20 г;
								креветки – 100 г;
								масло оливковое Extra Virgin – 15 мл;
								лимонный фреш – 5 мл;
								хлеб белый подсушенный – 60 г.
							</p>
						</div>
					</div>

					<div class="salat-card">
						<img class="salat" src="./img/4.jpg" alt="" />
						<div class="description">
							<p>
								Салат с куриной печенью <br />
								200 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								400 г куриной печенки;
								2 крепкие ароматные груши;
								50 г изюма;
								200 г салатного микса;
								сливочное и оливковое масло;
								сок 1 апельсина;
								1 ч. л. семян зиры;
								1 ч. л. сахара;
								соль, свежемолотый черный перец.
							</p>
						</div>
					</div>

					<div class="salat-card">
						<img class="salat" src="./img/5.jpg" alt="" />
						<div class="description">
							<p>
								Баклажаны в кисло-сладком соусе <br />
								150 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								2 баклажана;
								1 луковица;
								4 ст. л. оливкового масла;
								100 г оливок;
								4 помидора;
								3 ст. л. винного уксуса;
								1 ст. л. сахара.
							</p>
						</div>
					</div>

					<div class="salat-card">
						<img class="salat" src="./img/6.jpg" alt="" />
						<div class="description">
							<p>
								Ассорти сыров <br />
								200 г.
							</p>
						</div>
						<div class="hidden">
							<p>
								1 круглая буханка хлеба;
								150 г плавленого сыра Hochland «Ассорти»;
								100 г жареного красного перца;
								100 г ветчины;
								100 г салата айсберг;
								100 г слайсов салями;
								1 небольшой огурец;
								50 г вяленых томатов;
								3–4 веточки базилика;
								4 ст. л. майонеза;
								2 ст. л. песто.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
